@charset "UTF-8";

/* Last edit: 2/18/2018 8:00 PM */
/* Last validated error free: 2/18/2018 9:27 PM */

body {
    background-color: tan;
    width: auto;
    border: 15px solid black;
    padding: 25px;
    margin: 15px;
    text-align: center;
}
}
#Navigation {
    list-style: none;
}
#Navigation li {
    display: inline;
    margin: 0px 50px;
    padding: 0;
}

#Navigation li a {
    display: inline-block;
    list-style: none;
}

text_1 {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 150px;
    background-color: white;
}

h1 [role"title"] {
    font-family:sans-serif;
    font-size: 150;
}

h2 {
    border: 1px solid black;
    margin-left: auto
}

img {
    float: none;
}


/* Cite code */

